html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: $mainFont;
    color: $primaryColor;
    background-color: $bgColor;
    text-align: center;
    line-height: 1.8;
}

.wrapper {
    max-width: 1240px;
    width: 85%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Stripping Styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
button {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

li {
    text-decoration: none;
} 

/* Typographic Styles */
h1 {
    font-family: $logoFont;
    color: $secondaryColor;
    font-size: 12rem;
}

h2 {
    font-size: 6rem;
    color: $bgColor;
}

h1,
h2 {
    line-height: 1.2;
}

h3 {
    font-size: 4rem;
}


//DROPDOWN MENU
/* Dropdown Button */
.dropbtn {
    width: 100%;
    background: $primaryColor;
    color: $bgColor;
    padding: 3% 5%;
    margin-top: 3%;
    font-family: $mainFont;
    font-size: 3.5vw;
    font-weight: bold;
    border: none;
}

.dropbtn:hover, .dropbtn:focus {
    background: $secondaryColor;
}

.dropdown {
    width: 100%;
    // position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
    display: none;
    background-color: $bgColor; 
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownContent li {
    color: $primaryColor;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent li:hover,
.dropdownContent li:focus {
    background-color: #ddd;
    border: 1 solid $secondaryColor;
}

li:hover,
li:focus,
button:hover,
button:focus {
    cursor: pointer;
}

/* Show the dropdown menu */
.show {
    display:block;
}

ol {
    list-style-position: inside;
    padding: 0 5%;
    list-style-type: decimal;

}