header {
    // display: flex;
    // justify-content: space-between;
    border-bottom: 1px solid #000;
    text-align: center;
}

h2 {
    // padding: 2% 0; 
}

footer {
    text-align: center;
    background: black;
    color: white;
}