header {
    border-bottom: 1px solid #000;
    text-align: center;
    background: $primaryColor;
}

footer {
    text-align: center;
    background: $secondaryColor;
    color: $bgColor;
    padding: 4px 0;
    // warning: padding, even top/bottom are adding side scroll bars!!!
}

// footer .wrapper {
    // display: flex;
    // justify-content: center;
// }

// footer .text1 {
    // width: calc(50% - 8%);
    // width: 100%;
    // margin: 2%;
    // padding: 2%;
// }

// footer .bottomFooter {
//     margin-top: 1px;
//     // width: 100%;
// }

// footer h6 {
//     padding: 2px;
// }