main {
    background-color: #fff;
    margin: 5% auto;
    padding: 2% 3%;
    text-align: center;
    min-height: 50vh;
}

main.wrapper {
    width: 50%;
    margin: 2.5% auto;
}

ol {
    padding: 0 5%;
}

#playlistResult {
    margin-top: 5%;
}
