main {
    background-color: #fff;
    padding: 2% 3%;
    text-align: center;
    min-height: 50vh;
}

main.wrapper {
    width: 65%;
    margin: 8% auto;
}

// ol {
//     padding: 0 5%;  // set on global
// }

#playlistResult {
    margin-top: 5%;
}
