$primaryColor: wheat;
$bgPrimary: wheat;
$bgSecondary: #fff;
$primaryFontColor: #000;
$secondaryFontColor: #29339b;
$buttonColor: #29339b;
$accentColor: darkorange;

// Typography 
$mainFont: 'Fira Sans', sans-serif;
$logoPrimaryFont: 'Lobster', cursive;
$logoSecondaryFont:'Fira Sans', sans-serif; 