// Color Scheme
 $primaryColor: #233237; // Gunmetal
 $secondaryColor: #984b43; // Rusty Red
 $bgColor: #eac67a; // Warm Yellow

// Typography 
$mainFont: 'Fira Sans', sans-serif;
$logoFont: 'Lobster', cursive;